.articleItem{
  width:100%;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.articleItem .articleTitle{
  font-size: 1.5rem;
  font-weight: bold;
}
.articleItem .articleTitle a{position: relative;padding:5px 0}
.articleItem .articleTitle a:before{
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #055f6f;
  transition: width .5s;
}
.articleItem .articleTitle a:hover:before{
  width:100%;
}
.articleItem .articleInfo span{
  display: inline-block;
  padding: 0 20px;
  position: relative;

}
.articleItem .more{
  color: #2c8898;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0;
  cursor: pointer;
}
.articleItem .articleInfo span:before{
  content:"";
  position: absolute;
  width:16px;
  height: 16px;
  left:0px;
  top:4px;

}
.articleDesc{
  font-size: 1rem;
}
.articleDesc h1,
.articleDesc h2,
.articleDesc h3,
.articleDesc h4,
.articleDesc h5,
.articleDesc h6{
  margin: 1.5rem  0 1rem 0 ;
}
.articleDesc p{
  margin: 0.5rem 0;
  line-height: 1.2rem;
  font-size: 1rem;
}

.articleItem .articleInfo span.time:before{
    background: url('../img/time.png')
}
.articleItem .articleInfo span.category:before{
    background: url('../img/category.png')
}
.articleItem .articleInfo span.tags:before{
    background: url('../img/tag.png')
}
.articleItem hr{
  margin: 20px 0;
  height: 3px;
  border: none;
  background-color: rgb(62, 134, 147);
  background-image: repeating-linear-gradient(-45deg, white, white 4px, transparent 4px, transparent 8px);
}
