.categories_tree .toggler{
  color:#fff;
  background-color: rgb(62, 134, 147);
  width:100%;
  padding:0 1rem;
  border-radius:0.5rem;
  line-height: 3rem;
  position: relative;
}
.cate_list_first{
  font-size: 14px;
}
.categories_tree .tree_2{
  font-size: 1.2rem;
  cursor: pointer;
}
.categories_tree .cate_list_second{
  border-left:2px solid rgb(62, 134, 147);
  margin-left: 1rem;
}
.categories_tree .artCount{
  position:absolute;
  right:1rem;
  font-size: 1rem;
  color:rgb(233, 233, 233);
}

.categories_tree .tree_2 a{
  font-size: 14px;
  text-decoration: none;
  color: #2c8898;
  font-size: 1rem;
  padding-bottom: 0.4rem;
  position: relative;
  cursor: pointer;
  margin-left: 5rem;
}
.categories_tree .tree_2 a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #055f6f;
    -webkit-transition: width .5s;
    transition: width .5s;
}
.categories_tree .tree_2 a:hover:before{
  width:100%;
}
