#worldCloudCanvas{
  width:80rem;
  height:25rem;
}
#worldCloudCanvas span{
  cursor: pointer;
}
#tagRelatedArt{
  width:80rem;
  margin-top:3rem;
  padding: 2rem;
}
#tagRelatedArt .art_item a{
  font-size: 14px;
  text-decoration: none;
  color: #2c8898;
  font-size: 1rem;
  padding-bottom: 0.4rem;
  position: relative;
  cursor: pointer;
  margin-left: 5rem;
}
#tagRelatedArt .art_item a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #055f6f;
    -webkit-transition: width .5s;
    transition: width .5s;
}
#tagRelatedArt .art_item a:hover:before{
  width:100%;
}
